.white-label {
    height: 300px;
    display: flex;
    justify-content: space-between;

    font-size: larger;
    font-weight: bolder;

    color: #b0b4ba;
}

.footer-main-content {
    width: 80%;
    margin: auto;
}