/* 전체 페이지에 대한 기본 스타일 */
body {
    font-family: 'Arial', sans-serif; /* 폰트는 실제 사이트에 맞게 변경해야 함 */
    margin: 0;
    padding: 0;
}

main {
    padding-top: 50px;
}

/***** section id="rebranded-home-main-section-top" *****/

/* 상단 섹션 스타일 */
#rebranded-home-main-section-top {
    background-color: #fdf8de; /* 배경 색상 */
    padding: 20px;
    display: flex; /* flexbox 레이아웃 적용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

#home-main-top {
    display: flex; /* flexbox 레이아웃 적용 */
    max-width: 1500px; /* 최대 너비 설정 */
    height: 760px;
    margin: auto 0 auto 130px; /* 가로 중앙 정렬 */
}

/* 이미지와 설명을 감싸는 컨테이너 */
.home-main-image-top {
    flex: 1; /* 유연한 크기 조정 */
    max-width: 640px; /* 최대 너비 설정 */
}

.home-main-desc {
    flex: 1; /* 유연한 크기 조정 */
    padding: 20px; /* 패딩 설정 */
    max-width: 50%; /* 최대 너비 설정 */
    margin: 10% 0;
    height: 40%;
}

/* 제목 텍스트 스타일 */
.home-main-title {
    color: #222; /* 제목 색상 */
    font-size: 3.3em; /* 제목 크기 */;
}

/*설명 텍스트 스타일*/
.service-desc {
    color: #555; /* 설명 색상 */
    font-size: 1.2em; /* 설명 크기 */
}

/* 다운로드 버튼 스타일 */
#download-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.fixed-download-button {
    width: 140px;
    height: 35px;
    display: flex;
    margin: 0 10px;
    text-decoration: none;
    border: none; /* 테두리 제거 */
    background-color: #fd6e0f; /* 버튼 배경 색상 */
    color: #fff; /* 텍스트 색상 */
    padding: 10px 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 그림자 효과 */
    font-weight: bolder;
    font-size: medium;
    align-items: center;    /*세로 중앙 정렬*/
}


.fixed-download-button img {
    height: 24px; /* 이미지 높이 */
    margin: 0 10px 0 10px;
    float: left;
}

.fixed-download-text {
    vertical-align: middle; /* 텍스트 수직 정렬 */
}

.home-main-content {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    padding: 20px;
    background-color: #f9f9f9;
}

.home-main-image {
    flex: 0 1 auto; /* 이미지가 공간에 따라 줄어들지만, 원본 크기를 넘지 않도록 설정 */
    max-width: 80%; /* 이미지의 최대 너비를 설정하여 크기를 줄임 */
    padding-right: 20px; /* 이미지와 텍스트 사이의 간격 */
}

/* 이미지 자체의 크기를 조정하려면, 다음과 같이 .home-main-image-01 클래스에 스타일을 추가합니다. */
.home-main-image-01 {
    width: 620px; /* 컨테이너 크기에 맞춰 이미지 크기를 조정 */
    height: auto; /* 이미지의 비율을 유지 */
    object-fit: contain; /* 이미지가 컨테이너 안에 꽉 차게 하면서 비율 유지 */
}

.service-title, .service-desc {
    margin: 0;
    padding: 0;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-button {
    /*color*/
    background-color: #e7eaed;
    color: #000000;

    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;

    font-size: larger;
    font-weight: bolder;

    height: 30px;
}

.home-button[href="/hot-articles"] {
    width: 125px;
    margin-bottom: -10px;
}

.home-button[href="/trust"] {
    width: 190px;
    margin-bottom: -10px;
}

.home-button:hover {
    background-color: #b9b9b9;
    border-radius: 10px;
}

.service-title {
    color: #fd6e0f;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: -30px;
}

@media (max-width: 768px) {
    .home-main-content {
        flex-direction: column;
    }

    .home-main-image {
        max-width: 100%; /* 모바일 화면에서 이미지가 너비를 꽉 차게 조정 */
        padding-right: 0; /* 모바일 화면에서는 이미지와 텍스트 사이의 간격을 제거 */
    }
}
